	
	
		 
			<div class="col-md-13">
			<div class="col-md-4 leftsheet">

				


				<dl>
				  <dd ><a href="">Детский психолог</a></dd>
				  <dd><a href="">Нейропсихологическая диагностика и коррекция</a></dd>
				  <dd><a href="">Группы развития для детей (от 1 года до 7 лет)</a></dd>
				  <dd><a href="">Развитие памяти и внимания (7-10 лет)</a></dd>
				  <dd><a href="">Нейрограмматика (коррекция чтения и письма) (7-10 лет)</a></dd>
				  <dd><a href="">Нейробика (11-13 лет)</a></dd>
				  <dd><a href="">Тренинги для детей и подростков (7-14 лет)</a></dd>
				  <dd><a href="">Психодиагностика</a></dd>
				  <dd><a href="">Профориентирование</a></dd>
				  <dd><a href="">Логопед-дефектолог</a></dd>
				  

				</dl>

			</div>

			<div class="col-md-5 ">
				 
				 
				
				<div class="owl-carousel owl-theme owl-loaded ">
					<% @sliders.each do |slider| %>
						<div  class="item windowslide">
					 	<%= image_tag slider.slide.url %>
						 	<div class="flex-container">
							 	  
							 	<h3 class="txttitle animated fadeIn"><%= slider.title %><br/> <span class="txtslave"><%= slider.description %> </span> </h3>
							 	 
							 	   
							 	 
							 	 
						 	</div>
					 	 
						
					 	</div>
					 <% end %>
		 		</div>
			</div>
			<div class="col-md-4 rightsheet">
				<dl>
				  <dt><a href="">Индивидуальная консультация психолога</a></dt><br/>
				  <dt><a href="">Семейное консультирование</a></dt><br/>
				  <dt><a href="">Тренинги и семинары для взрослых</a></dt><br/>
				  <dt><a href="">Психодиагностика</a></dt><br/>
				  <dt><a href="">Профориентирование</a></dt><br/>
				  <dt><a href="">Личная психотерапия и супервизия для психологов</a></dt>
				</dl>

			</div>
			</div>

		 
 			


 	<div class="row">

 		<div class="col-md-13">	

			<h2>What our customers are saying...</h2>
			<blockquote>
				<p>“First off, location, location, location! The Landon Hotel in Vienna is located in a wonderfully picturesque part of town. The staff were polite and friendly, and the neighborhood really did feel welcoming. I even ended up extending my stay, and the hotel staff made all the arrangements! Can't wait to make my way out to the Landon in Vienna again.” </p>
				<small>Donald Platameyer, New York</small>
			</blockquote>
			<blockquote>
				<p>“The Landon hotel in San Francisco is a great place to stay if you're looking to be in the heart of the city, and can’t afford to break the bank. They even had bike storage on the mezzanine, which made it easy to explore the city on bicycle. The front desk staff were always helpful, and made checking in and out a pleasurable experience. The room’s modern decor and extra amenities were the icing on the cake.”</p>
				<small>Marcus Normandy, Los Angeles</small>
			</blockquote>

		</div>

		<!-- <div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>About Our Hotels</h3>
				</div>
				<div class="panel-body">
					<p>Each Landon Hotel reﬂects the color, ﬂavor, and personality of the local neighborhood, giving visitors an authentic travel experience that honors the history and culture of the region.</p>
					<p>With 400 neighborhoods in 20 countries, we go out of our way to make you feel at home.</p>
					<p><a href="#" class="btn btn-primary">Read more </a></p>
				</div>
			</div><!-- end panel -->
		 
	</div>

 
