	
	
		<div class="col-md-12">
			<div class="row">

			<div class="col-md-5">
				<div class="owl-carousel">
					<% @sliders.each do |slider| %>
						<div class="item">
					 	<%= image_tag slider.slide.url %>
					 	</div>
					 <% end %>
		 		</div>
			</div>
			</div>

		</div>

 			


 	<div class="row">

 		<div class="col-md-12">	

			<h2>What our customers are saying...</h2>
			<blockquote>
				<p>“First off, location, location, location! The Landon Hotel in Vienna is located in a wonderfully picturesque part of town. The staff were polite and friendly, and the neighborhood really did feel welcoming. I even ended up extending my stay, and the hotel staff made all the arrangements! Can't wait to make my way out to the Landon in Vienna again.” </p>
				<small>Donald Platameyer, New York</small>
			</blockquote>
			<blockquote>
				<p>“The Landon hotel in San Francisco is a great place to stay if you're looking to be in the heart of the city, and can’t afford to break the bank. They even had bike storage on the mezzanine, which made it easy to explore the city on bicycle. The front desk staff were always helpful, and made checking in and out a pleasurable experience. The room’s modern decor and extra amenities were the icing on the cake.”</p>
				<small>Marcus Normandy, Los Angeles</small>
			</blockquote>

		</div>

		<!-- <div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>About Our Hotels</h3>
				</div>
				<div class="panel-body">
					<p>Each Landon Hotel reﬂects the color, ﬂavor, and personality of the local neighborhood, giving visitors an authentic travel experience that honors the history and culture of the region.</p>
					<p>With 400 neighborhoods in 20 countries, we go out of our way to make you feel at home.</p>
					<p><a href="#" class="btn btn-primary">Read more </a></p>
				</div>
			</div><!-- end panel -->
		 
	</div>

 
 <script> 
 document.addEventListener("turbolinks:load", function() {
   $('.owl-carousel').owlCarousel({
			items:1,
			lazyLoad:true,
    loop:true,
    autoplay:true,
    autoplayTimeout:2800,
    animateOut: 'fadeOut',
    animateIn: 'fadeIn'
   		// slideSpeed : 300,
     //  paginationSpeed : 400,
     //  singleItem:true,
     //   autoPlay : true,
     //   pagination : false,
     //   transitionStyle : "fade"
   });
})
// $(document).on('ready page:load', function() {
 
//   $("#owl-example").owlCarousel();
 
// });
</script>
