/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body {background-image: url("SW-028.jpg"); 

	background-repeat: no-repeat;
	
	background-position: center 0;
}

h4{
	margin: 0 0 15px;
}
.backsky{
	
}
.headsky { 
	height: 160px;
}


.logo {
	text-align: center;
} 
.tagline {
	color: #602F8D;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1em;
}

/* footer styling for all resolutions */

.siteinfo {
	text-align: center;
	padding: 3em 0;
	border-top: 1px solid #ddd;
}
.siteinfo a {
	text-decoration: none;
	color: #999;
	font-size: 0.8em;
}
.siteinfo a:hover {
	color: #602F8D;
	text-decoration: underline;
}

/* Small devices (tablets, 768px and up) 

Greater than 768 px, push logo left and tagline right. Alter 
tagline font size, alignment, and padding for larger dimensions.

*/
@media (min-width: 768px) {  
	.logo {
		text-align: left;
	}
	.tagline {
		font-size: 2em;
		text-align: right;
		padding-top: 1.6em;
	}
}

.blank {height: 80px;

}
.addressblank {height: 20px;

}

.head_block { /* background-color: #444; */
	background-image: url("logo21.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 155px;

}
 

.addressline { /* background-color: #222; */ 
	color:#555; 
	font: 14px Arial, Helvetica, sans-serif;
	  
	
}
 
.address { text-align: right; 
}

.contacts {  /* background-color: #888; */  border-left: 1px solid #aaa;
	font: 14px Arial, Helvetica, sans-serif;
}

.rightplace   {   

}


.top_info_list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.textwidget { background-color: #666;
	float: right;
}
 
#right_place {
	float: right;
} 



.header_separator {
background-image: url("grass.jpg");
background-position: 0 0;
background-repeat: repeat-x;

float: none;
height: 48px;
 
margin-left: auto;
margin-right: auto;
 
}
