/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require themes/gray.min.css
 *= require owl.carousel
*= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// .col-xs-1-13,
// .col-sm-1-13,
// .col-md-1-13,
// .col-lg-1-13 {
//   position: relative;
//   min-height: 1px;
//   padding-right: 10px;
//   padding-left: 10px;
// }
 
// .col-xs-1-13 {
//   width: 20%;
//   float: left;
// }
 
// @media (min-width: 768px) {
//   .col-sm-1-13 {
//     width: 20%;
//     float: left;
//   }
// }
 
// @media (min-width: 992px) {
//   .col-md-1-13 {
//     width: 20%;
//     float: left;
//   }
// }
 
// @media (min-width: 1200px) {
//   .col-lg-1-13 {
//     width: 20%;
//     float: left;
//   }
// }

.leftsheet{
	background-color: #656565
}

.rightsheet{
	background-color: #656565
}

.fa {
  
  color: #266424;
}

 
/* Team Members */

.team-member{ text-align: center;
	position:relative;
	overflow:hidden;
	padding-bottom:89px;
	margin-bottom:30px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.team-member .team-member-image{ 
	width:100%;
}

.team-member-info{ text-align: left; 
	padding: 0px 0px;
	position:absolute;
	z-index:10;
	margin-top:-89px;
	top:100%;
	left:0;
	background:#fff;
	right:0;
	bottom:0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	backface-visibility: hidden;
}

.team-member .social-media li{
	margin-right:4px;
}

.team-member .social-media li:last-child{
	margin-right:0;
}

.team-member-more{ 
	margin-top: -5px; 
	font-size:13px;
	text-align: left;
	line-height: 1.0;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transition: all .4s ease 0.1s;
	-webkit-transition: all .4s ease 0.1s;
	-moz-transition: all .4s ease 0.1s;
}	

.team-member:hover .team-member-info{
	padding: 6px 15px 0px 15px;
	  
	top:80px;
}

.team-member:hover .team-member-more{
	opacity:1;
	-moz-opacity:1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}

.team-member-info{  

}
 

.team-member-info .job{
	line-height: 1;
	padding: 3px 10px 0px 5px;
	border-top: 1px solid #919191;
	color:#7e7e7e;
	font-size:13px;
	 
	
	// margin-bottom:17px;
	// white-space:nowrap;
}



.team-member-info .first{
	padding: 6px 15px 0px 15px;
	text-align: right; 
	margin-top:0px;
	
	color:#266424;
	font-size:14px;
	// display:block;
	// margin-bottom:17px;
	// white-space:nowrap;
}

.team-member-info .second{
	padding: 0px 15px 5px 15px;
	margin-top: -5px;
	text-align: right; 
	color:#727272;
	
	font-size:16px;


	// display:block;
	// margin-bottom:17px;
	// white-space:nowrap;
}

 .ui_more{
	
	  
	 
	text-align: right; 
	  color:#727272;
	
	 
	// display:block;
	// margin-bottom:17px;
	// white-space:nowrap;
}
  .buttonstyle{
  	 
	margin: 0px 0px 5px 0px;
}
.buttonstyle a{
  	 text-decoration: none;
	
}


.team-member.big{
	background:#fff;
	padding:0;
}

.team-member.big .team-member-image{
	width:50%;
	padding-right:15px;
	float:left;
}

.team-member.big .team-member-info{
	position:relative;
	margin-top:0;
	top:0;
	float:left;
	width:50%;
	padding:30px 30px 30px 15px;
}

.team-member.big .team-member-more{
	opacity:1;
	-moz-opacity:1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
.small-caption + .social-icons{
	margin-top:3px;
}



body {background-image: url("SW-028.jpg"); 

	background-repeat: no-repeat;
	
	background-position: center 0;
}

h4{
	margin: 0 0 15px;
}
.backsky{
	
}
.headsky { 
	height: 160px;
}


.logo {
	text-align: center;
} 
.tagline {
	color: #602F8D;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
	padding-top: 1em;
}

/* footer styling for all resolutions */

.siteinfo {
	text-align: center;
	padding: 3em 0;
	border-top: 1px solid #ddd;
}
.siteinfo a {
	text-decoration: none;
	color: #999;
	font-size: 0.8em;
}
.siteinfo a:hover {
	color: #602F8D;
	text-decoration: underline;
}



/* Small devices (tablets, 768px and up) 

Greater than 768 px, push logo left and tagline right. Alter 
tagline font size, alignment, and padding for larger dimensions.

*/
@media (min-width: 768px) {  
	.logo {
		text-align: left;
	}
	.tagline {
		font-size: 2em;
		text-align: right;
		padding-top: 1.6em;
	}
}

.blank {height: 80px;

}
.addressblank {height: 20px;

}

.head_block { /* background-color: #444; */
	background-image: url("logo21.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 155px;

}
 

.addressline { /* background-color: #222; */ 
	color:#555; 
	font: 14px Arial, Helvetica, sans-serif;
	  
	
}
 
.address { text-align: right; 
}

.contacts {  /* background-color: #888; */  border-left: 1px solid #aaa;
	font: 14px Arial, Helvetica, sans-serif;
}

.rightplace   {   

}


.top_info_list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.textwidget { background-color: #666;
	float: right;
}
 
#right_place {
	float: right;
} 

.emp_card {
	 
	background-color: #aaa;
	
}

.header_separator {
background-image: url("grass.jpg");
background-position: 0 0;
background-repeat: repeat-x;

float: none;
height: 48px;
 
margin-left: auto;
margin-right: auto;
 
}
